<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>
    <link rel="stylesheet" href="C:\Users\Neil Vhanjo\OneDrive\Pictures\NU Documents\2nd Year Of Computer Science\2nd Semester\Database Systems\Activity\Database Final\static\blogpoststyle.css">
</head>
<body>
    <div class="header">
        <h1>ECHO</h1>

        <div class="profile-icon">&#128100;</div>
    </div>
    <div class="container">
        <div class="blog-card"><a href = "login.html" class = "no-underline">
            <div class="blog-image">
                <img src="C:\Users\Neil Vhanjo\OneDrive\Pictures\NU Documents\2nd Year Of Computer Science\2nd Semester\Database Systems\Activity\Database Final\static\SignupStockPhoto3.jpg" alt="Blog Thumbnail">
            </div>
            <div class="blog-content">
                <h2>NEW BLOG</h2>
                <p class="author">@User</p>
                <p class="excerpt">A blog is your creative space. It’s where you can share your brand’s story or impart your wisdom using your own words, with your own visual language to match. Fortunately, you don’t need to be a professional writer to create a successful blog either. All you need is a genuine passion for your field, lots to say and a stylish canvas on which to say it.</p>
                <p class="date">01-31-25</p>
            </a>
            </div>
        </div>
    </div>
    
</body>
</html>
