<!doctype html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href = "C:\Users\Neil Vhanjo\OneDrive\Pictures\NU Documents\2nd Year Of Computer Science\2nd Semester\Database Systems\Activity\Database Final\static\loginstyle.css">
        <title>Login</title>   
    </head>
    <body>
        <div class = "split-screen">
            <div class = "left">
            <section class = "copy">
                <h1>Start Blogging Now</h1>
                <p>Enter, Explore, Write, Inspire!</p>
            </section>
            </div>
            <div class = "right">
            <form>
                <section class = "copy">
                <h2>Login To Your Account</h2>
                    <div class = "login-container">
                        <p>Don't Have An Account?<a href="Signup.html">
                        <strong>Sign Up </strong></a></p>
                    </div>
                </section>
                <div class ="input-container name">
                    <label for="fname"> Username</label>
                    <input id= "fname" name="fname" type="text" 
                    placeholder="Enter Your Username">
                </div>
                <div class = "input-container password">
                    <label for="password">Password</label>
                    <input id="password" name="password"
                    placeholder="Enter Your Password"
                    type="password">
                    <i class="fa-regular fa-eye-slash"></i>
                    
                </div>
                <div class = "input-container cta">
                </div>      
                    <!-- <a href="Profile.html" class="signup-btn">Login</a> -->
                    <button class="signup-btn" type="submit">Login</button>
                    <section class = "copy legal">
                        <p><span class = "small"> By continuing, you agree to accept our <br> <a href = "#">Privacy Policy</a> &amp; <a href ="#">Terms Of Service</a>.</span></p>
                </section>
            </form>
            </div>
        </div>
</body>
</html>