<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Front Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='newsfeed.css') }}">
</head>
<body>

    <div class="header">
        <h1>ECHO</h1>   

        <div class="profile-icon">
            <a href="{{ url_for('profile') }}">
                <img src="{{ url_for('static', filename='images/profile.svg') }}" alt="profile">
            </a>
        </div>
    </div>

    <div class="create-post-container">
        <form class="post-form">
            <h2>Create New Post</h2>
            <div class="input-group">
                <input type="text" name="title" placeholder="Enter your title..." required>
            </div>
            <div class="input-group">
                <textarea name="content" placeholder="Write your post..." required></textarea>
            </div>
            <div class="action-buttons">
                <label for="image" class="upload-button">
                    Upload Image
                </label>
                <input type="file" id="image" name="image" accept="image/*" style="display: none;">
                <button type="submit" class="post-button">Post</button>
            </div>
        </form>
    </div>
    
    <div class="container">
        <div class="blog-card"><a href="{{ url_for('post') }}" class = "no-underline">
            <div class="blog-image">
                <img src="{{ url_for('static', filename='/images/sign-up-green-img.jpg') }}" alt="Blog Thumbnail">
            </div>
            <div class="blog-content">
                <h2>NEW BLOG</h2>
                <p class="author">@User</p>
                <p class="excerpt">A blog is your creative space. It’s where you can share your brand’s story or impart your wisdom using your own words, with your own visual language to match. Fortunately, you don’t need to be a professional writer to create a successful blog either. All you need is a genuine passion for your field, lots to say and a stylish canvas on which to say it.</p>
                <p class="date">01-31-25</p>
            </a>
            </div>
        </div>
    </div>
    
</body>
</html>
