<!DOCTYPE HTML>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Profile</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='profilestyle.css') }}">
    </head>
    <body>

        <div class="header">
            <h1>ECHO</h1>
            <div class="home-icon">
                <a href="{{ url_for('index') }}">
                    <img src="{{ url_for('static', filename='/images/home.svg') }}" alt="home">
                </a>
            </div>
        </div>

        <div class = "container">
            <div class = "sidebar">
                <div class="profile-picture">
                    <img src="{{ url_for('static', filename='/images/good.jpg') }}" alt = "Profile Picture">
                </div>
                <h2>name here</h2>
                <p class ="username">@placeholderusername</p>
                <p class ="joined-date">Joined placeholder date</p>
               
                <h3>Friends</h3>
                <div class="friends-list">
                    <div class="friend">placeholder1</div>
                    <div class="friend">placeholder2</div>
                </div>
                <a href="" class="logout-button">Logout</a>
            </div>


            <div class = "content">
                <div class = "blog-post">
                    <h2>TITLE OF BLOG HERE</h2>
                    <p>ts ts ts ts ts ts ts ts ts</p>
                    <p class = "date">PLACEHOLDER DATE HERE</P>
                </div>
            </div>
        </div>
    </body>
    </html>
    




        