<!doctype html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='signupstyle.css') }}">
        <title>Sign Up</title>   
    </head>
    <body>
        <div class = "split-screen">
            <div class = "left">
            <section class = "copy">
                <h1>Start Blogging Now</h1>
                <p>Enter, Explore, Write, Inspire!</p>
            </section>
            </div>
            <div class = "right">
                <form action="{{ url_for('signup') }}" method="post">
                    <section class = "copy">
                    <h2>Sign Up</h2>
                        <div class = "login-container">
                            <p>Already have an account?<a href="{{ url_for('login') }}">
                            <strong>Log In </strong></a></p>
                        </div>
                    </section>
                    <div class ="input-container name">
                        <label for="fname"> First Name</label>
                        <input id= "fname" name="fname" type="text" 
                        placeholder="Enter Your First Name">
                    </div>
                    <div class ="input-container name">
                        <label for="fname"> Last Name</label>
                        <input id= "lname" name="lname" type="text"
                        placeholder="Enter Your Last Name">
                    </div>
                    <div class ="input-container email">
                        <label for="email"> Email</label>
                        <input id= "email" name="email" type="email"
                        placeholder="Enter Your Email Address">
                    </div>
                    <div class = "input-container password">
                        <label for="password">Password</label>
                        <input id="password" name="password"
                        placeholder="Must be at least 6 characters"
                        type="password">
                        <i class="fa-regular fa-eye-slash"></i>
                        
                    </div>
                    <div class = "input-container cta">
                        <label class ="checkbox-container">
                            <input type ="checkbox">
                            <span class ="checkmark"></span>
                            Sign Up For Email Updates.
                        </label>
                    </div>
                        <button class="signup-btn" type="submit">Sign Up</button>
                        <section class = "copy legal">
                            <p><span class = "small"> By continuing, you agree to accept our <br> <a href = "#">Privacy Policy</a> &amp; <a href ="#">Terms Of Service</a>.</span></p>
                    </section>
                </form>
            </div>
        </div>
</body>
</html>